table {
    width: 100%;
}

table[can-edit='y'] td span {
    cursor: pointer;
}

tr.bolded {
    font-weight: bold;
}

td,
th {
    text-align: center;
    width: 12.5%;
}

h3 {
    text-align: center;
}

h3 span {
    cursor: pointer;
}

/* Text colour */
th {
    color: red;
}

td {
    color: orange;
}

tbody tr td:nth-child(1) {
    color: #80b8ff;
}
