table {
    font-family: Helvetica, Arial;
    width: 100%;
}

table[can-edit='y'] td span {
    cursor: pointer;
}

tr.active-hour td span {
    color: #ffffff !important;
    font-weight: bold;
}

td,
th {
    text-align: center;
    width: 12.5%;
}

td.current-hour {
    background: orange;
    color: #ffffff;
}

h3 {
    text-align: center;
}

h3 span {
    cursor: pointer;
}

div.center-block {
    text-align: center;
}

/* Text colour */
th {
    color: orange;
}

td {
    color: orange;
}

tbody tr td:nth-child(1) {
    color: #80b8ff;
}
